:root {
    --background-color: #16161a;
    --body-background: #242629;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%
}

body {
    background-color: var(--background-color);
    width: 100%;
    /*height: 100vh;*/
    font-size: 1.6rem;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
}

#body-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: var(--body-background);
}

#header {
    font-size: 2.5rem;
    width: 100%;
    background-color: #8b92e3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.user-side {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.user-img {
    width: 50px;
    height: 50px;
}

.profile-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    height: 100vh;
    padding: 20px;
    gap: 20px;
    border-radius: 30px;
}

.side-bar {
    width: 20%;
    background-color: #65657c;
    border-radius: 5px;
}

.side-nav-lists {
    list-style: none;
    font-size: 3rem;
    text-align: center;
    padding: 20px;
}

.nav-lists {
    padding: 10px;
    border-bottom: 1px solid white;
}

.nav-lists:hover {
    color: red;
    cursor: pointer;
}

.main-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #65657c;
    border-radius: 5px;
    gap: 50px;
    align-items: center;
}