:root {
    --background-color: #16161a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%
}

body {
    background-color: var(--background-color);
    font-size: 1.5rem;
}


#main-divider {
    color: red;
}