{% load static %}

<link rel="stylesheet" href="{% static 'css/suppliers.css' %}">
<button
    class="add-supplier-btn"
    hx-get="{% url 'supplier_form' %}"
    hx-target="#modal"
    hx-swap="innerHTML">
    + Add New Supplier
</button>
<section>
<h1>Supplier Directory</h1></section>
<div class="supplier-container">
    {% include 'management/tables/supplier-table.html' %}
</div>
<div id="modal" class="modal"
     style="display:none;"
     _="on htmx:afterOnLoad from .add-supplier-btn
        set my.style.display to 'flex'">
</div>
